.purchase-btn {
  width: 120px;
  background: #3ccace;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
}

.purchase-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.purchase-btn-icon {
  width: 60%;
}
@charset "UTF-8";
/* line 1, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
a {
  text-decoration: none;
}

/* line 5, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
.main {
  background: #f8f8f8;
}

/* 画面上部の「人生を変えるフリマアプリ」帯部分 */
/* line 10, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
.title-contents {
  width: 100vw;
  background-image: url(/images/furima-header01.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

/* line 25, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
.service-title {
  font-size: 8vh;
}

/* line 29, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
}

/* line 34, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
.store-btn {
  display: flex;
  margin-top: 24px;
}

/* line 39, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
.apple-btn {
  margin-right: 1vw;
  height: 9vh;
}

/* line 44, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
.google-btn {
  height: 9vh;
}

/* //画面上部の「人生を変えるフリマアプリ」帯部分 */
/* FURIMAが選ばれる3つの理由部分 */
/* line 51, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
.select-reason-contents {
  padding: 5vh 15vw;
}

/* line 55, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
.select-reason-contents > .title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

/* line 63, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
.select-reason-contents > .title::after {
  content: '';
  width: 70px;
  height: 4px;
  background-color: #3ccace;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

/* line 74, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
.reason-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* line 80, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
.reason-lists > .list {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* line 88, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
.list-pict {
  margin-bottom: 20px;
  width: 100%;
}

/* line 93, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
.reason-list-number {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  background-color: #3ccace;
  color: #fff;
}

/* line 106, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
.reason-list-text {
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
}

/* line 112, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
.reason-list-blue-text {
  color: #3ccace;
}

/* line 116, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
.reason-list-description {
  font-size: 18px;
  margin-top: 20px;
}

/* //FURIMAが選ばれる3つの理由部分 */
/* 画面中央の「会員数日本一位」帯部分*/
/* line 125, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
.ad-contents {
  width: 100vw;
  background-image: url(/images/furima-header02.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

/* line 140, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
.ad-title {
  font-size: 5vh;
  margin-bottom: 2vh;
}

/* line 145, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
.ad-explain {
  font-size: 2.5vh;
  line-height: 30px;
}

/* line 150, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
.store-btn {
  display: flex;
  margin-top: 24px;
}

/* line 155, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
.apple-btn {
  margin-right: 1vw;
  height: 9vh;
}

/* line 160, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
.google-btn {
  height: 9vh;
}

/* //画面中央の「会員数日本一位」帯部分 */
/* FURIMAの特徴 */
/* line 167, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
.feature-contents {
  padding: 5vh 15vw;
}

/* line 171, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
.feature-contents > .title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

/* line 179, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
.feature-contents > .title::after {
  content: '';
  width: 70px;
  height: 4px;
  background-color: #3ccace;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

/* line 190, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
.feature-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* line 196, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
.feature-lists > .list {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 203, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
.feature-list-text {
  font-weight: bold;
  font-size: 22px;
  line-height: 50px;
}

/* line 209, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
.feature-list-description {
  font-size: 18px;
  margin-top: 20px;
}

/* //FURIMAの特徴 */
/* 商品一覧 */
/* line 218, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
.item-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

/* line 226, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
.item-contents > .title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

/* line 232, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
.item-contents > .subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
}

/* line 240, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* line 247, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
.item-lists > .list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}

/* line 254, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
.item-img-content {
  position: relative;
}

/* line 258, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
.item-img {
  width: 33vh;
  height: 33vh;
}

/* line 263, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
.sold-out {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  background-color: crimson;
  transform: skewY(-10deg);
}

/* line 272, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
.sold-out > span {
  color: #FFF;
  font-size: 45px;
  font: bold;
}

/* line 279, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
.item-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

/* line 285, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
.item-name {
  font-size: 2.5vh;
}

/* line 289, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
.item-price {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
}

/* line 296, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
.star-btn {
  display: flex;
  align-items: center;
}

/* line 301, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
.star-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
}

/* line 307, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/items/index.scss */
.star-count {
  font-size: 2vh;
}

/* //商品一覧 */
/* border-bottom: 1px solid #eee; */



.items-sell-contents {
  background-color: #f5f5f5;
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
}

.items-sell-header {
  padding: 5vh 0;
  text-align: center;
}

.items-sell-main {
  background-color: #FFF;
  width: 70vw;
  min-width: 450px;
  padding: 10vh 15vw;
}

.items-sell-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

/* 共通 */
.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
}

.select-box {
  height: 30px;
  width: 100%;
  background-color: #f5f5f5;
  padding-left: 20px;
}

.question {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #0099e8;
  color: #FFF;
  font-size: 13px;
  text-align: center;
  line-height: 20px;
  text-decoration: none;
  margin-left: 5px;
}

.question-text {
  display: flex;
}

/* /共通 */

/* 出品画像 */
.img-upload {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2vh 0;
}

.click-upload {
  margin: 15px 0;
  min-width: 250px;
}

.click-upload>p {
  margin-bottom: 15px;
}

/* /出品画像 */

/* 商品名と商品説明 */
.new-items {
  padding: 2vh 0;
}

.items-text {
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.items-explain {
  margin-top: 2vh;
}

/* /商品名と商品説明 */

/* 商品の詳細など */
.items-detail {
  display: flex;
  justify-content: space-between;
  padding: 2vh 0;
}

.items-detail>.form {
  width: 300px;
  padding: 2vh 0;
}

.select-box {
  margin: 2vh 0;
}

/* /商品の詳細など */

/* 販売価格 */
.sell-price {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.price-content {
  width: 300px;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-text {
  /* min-width: 170px; */
  display: flex;
  align-items: center;
}

.sell-yen {
  font-size: 18px;
}

.price-input {
  height: 30px;
  text-align: right;
  padding-right: 10px;
}

/* /販売価格 */

/* 注意書き */
.caution {
  padding: 5vh 0;
}

.sentence>a {
  color: #0099e8;
  text-decoration: none;
}

/* /注意書き */

/* 下部ボタン */
.sell-btn-contents {
  width: 100%;
  text-align: center;
}

.sell-btn {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  width: 100%;
  height: 50px;
  font-size: 14px;
  margin-bottom: 4vh;
}

.back-btn {
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  padding: 15px 35%;
  text-decoration: none;
}

/* /下部ボタン */

.items-sell-footer {
  background-color: #f5f5f5;
  width: 60vw;
  padding: 3ch 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.items-sell-footer>.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3vh 0;
}

.menu>li>a {
  color: black;
  font-size: 12px;
  margin: 2vw;
}

.inc {
  font-size: 13px;
}
/* 商品の概要 */


.item-show {
  background-color: #f8f8f8;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.item-box {
  background-color: #FFF;
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.item-box-img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
}

.item-price-box {
  margin: 25px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.item-price-box>.item-price {
  font-size: 4vh;
  font-weight: bold;
}

.item-price-box>.item-postage {
  font-size: 16px;
}


.item-red-btn {
  text-align: center;
  background-color: #ea352d;
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.or-text {
  font-size: 20px;
}

.item-destroy {
  background-color: lightgray;
  text-align: center;
  font-size: 24px;
  color: black;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.item-explain-box {
  font-size: 18px;
  margin: 40px 0px;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-item {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.option {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.favorite-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;
  color: rgb(249, 75, 0);
  border: 2px solid #ffb340;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.favorite-star-icon {
  margin-right: 5px;
}

.report-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;

  padding: 1vh 0;
  color: black;
  border: 2px solid #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.report-flag-icon {
  margin-right: 5px;
}


/* /商品の概要 */

.comment-box {
  width: 40vw;
  background-color: #fff;
  margin: 5vh 0;
  text-align: center;
}

.comment-text {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: solid 2px #dedede;
  resize: none;
}

.comment-warn {
  padding: 10px;
  font-size: 14px;
  margin: 10px 0px;
  text-align: left;
}

.comment-btn {
  line-height: 48px;
  background-color: #3CCACE;
  border: 1px solid #3CCACE;
  color: #fff;
  width: 50%;
  min-width: 150px;
  font-size: 18px;
  border-radius: 100px;
  margin-bottom: 2vh;
}

.comment-flag {
  display: flex;
  justify-content: center;
}

.comment-flag-icon {
  margin: 10px 5px 0 0;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 50vw;

}

.change-item-btn {
  font-size: 30px;
  text-decoration: none;
  color: #3CCACE;
}

.another-item {
  display: block;
  margin: 30px 0px 8px;
  color: #3CCACE;
  text-decoration: none;
  font-weight: bold;
  font-size: 23px;
}
/*!
 * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
 * http://cssreset.com
 * Copyright 2012 Yahoo! Inc. All rights reserved.
 * http://yuilibrary.com/license/
 */
/*
    TODO will need to remove settings on HTML since we can't namespace it.
    TODO with the prefix, should I group by selector or property for weight savings?
*/

html{
  color:#000;
  background:#FFF;
}
/*
  TODO remove settings on BODY since we can't namespace it.
*/
/*
  TODO test putting a class on HEAD.
      - Fails on FF.
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin:0;
  padding:0;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
fieldset,
img {
  border:0;
}
/*
  TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style:normal;
  font-weight:normal;
}

ol,
ul {
  list-style:none;
}

caption,
th {
  text-align:left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size:100%;
  font-weight:normal;
}
q:before,
q:after {
  content:'';
}
abbr,
acronym {
  border:0;
  font-variant:normal;
}
/* to preserve line-height and selector appearance */
sup {
  vertical-align:text-top;
}
sub {
  vertical-align:text-bottom;
}
input,
textarea,
select {
  font-family:inherit;
  font-size:inherit;
  font-weight:inherit;
}
/*to enable resizing for IE*/
input,
textarea,
select {
  *font-size:100%;
}
/*because legend doesn't inherit in IE */
legend {
  color:#000;
}
/* YUI CSS Detection Stamp */
#yui3-css-stamp.cssreset { display: none; }
.error-alert {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.error-message {
  font-size: 1.3vw;
  list-style: circle;
  color: rgb(182, 48, 0);
}
@charset "UTF-8";
/* 下部広告部分 */
/* items/index.htmlの広告cssを所々使いまわしています。 */
/* line 5, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/shared/footer.scss */
.ad-footer-contents {
  width: 100vw;
  background-image: url(/images/furima-footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

/* line 20, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/shared/footer.scss */
.ad-footer-title {
  font-size: 4vh;
  margin-bottom: 2vh;
}

/* line 25, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/shared/footer.scss */
.ad-footer-explain {
  font-size: 3vh;
  line-height: 30px;
}

/* //下部広告部分 */
/* line 32, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/shared/footer.scss */
.footer {
  width: 100vw;
  padding: 5vh 0;
  color: #FFF;
  background-color: #272727;
  text-align: center;
}

/* line 40, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/shared/footer.scss */
.footer-contents {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

/* line 46, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/shared/footer.scss */
.furima-details {
  margin: 0 4vw;
}

/* line 50, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/shared/footer.scss */
.footer-content-head {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* line 56, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/shared/footer.scss */
.footer-link {
  color: #FFF;
  font-size: 12px;
  line-height: 30px;
}

/* line 62, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/shared/footer.scss */
.logo-white {
  width: 20vh;
  vertical-align: bottom;
}

/* line 67, /Users/uchikawatakuya/projects/furima_28716/app/assets/images/furimaの素材/stylesheets/shared/footer.scss */
.footer > p {
  font-size: 14px;
}
* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.furima-icon {
  width: 10vw;
  margin-right: 10vw;
}

.search-form {
  width: 65vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #3ccace;
  padding: 8px;
}

.search-icon {
  width: 100%;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;

}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.brand-list {
  text-decoration: none;
  color: #333333;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}
.second-fotter {
  width: 100%;
  min-width: 800px;
  height: 200px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
}

.second-fotter-text-wrap {
  margin: 30px 0;
  display: flex;
  justify-content: center;
}

.second-fotter-text {
  color: #333;
  font-size: 12px;
  margin: 0 10px;
}

.second-fotter-logo {
  width: 185px;
  height: 49px;
  margin: 0 auto;
}
.second-header {
  width: 100%;
  min-width: 800px;
  height: 130px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-logo {
  width: 185px;
  height: 49px;
}
.transaction-contents {
  width: 100vw;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}

.transaction-main {
  background-color: #FFF;
  width: 70vw;
  min-width: 450px;
  padding: 10vh 10vw;
}

.transaction-title-text {
  text-align: center;
  border-bottom: 2px solid #f5f5f5;
  font-weight: bold;
  font-size: 22px;
}

/* 購入内容の表示 */
.buy-item-info {
  height: 150px;
  border-bottom: 2px solid #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buy-item-img {
  margin-right: 20px;
  height: 130px;
  width: 250px;
  object-fit: contain;
}

.buy-item-right-content {
  display: flex;
  flex-direction: column;
}

.buy-item-text {
  font-size: 20px;
}

.buy-item-price {
  display: flex;
  font-weight: bold;
  align-items: center;
  margin-top: 10px;
}

.item-price-text {
  font-size: 15px;
}

.item-price-sub-text {
  font-size: 12px;
}

/* /購入内容の表示 */

/* 支払額の表示 */
.item-payment {
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #f5f5f5;
  font-weight: bold;
}

.item-payment-title {
  font-size: 20px;
}

.item-payment-price {
  font-size: 25px;
}

/* /支払額の表示 */

/* カード情報の入力 */
.credit-card-form {
  border-bottom: 2px solid #f5f5f5;
  margin-top: 15px;
  padding-bottom: 30px;
}

.info-input-haedline {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.available-card {
  display: flex;
  height: 35px;
}

.card-logo {
  width: 40px;
  margin: 5px 5px;
}

.input-expiration-date-wrap {
  width: 100%;
  display: flex;
  text-align: center;
  line-height: 55px;
}

.input-expiration-date {
  width: 20%;
  margin-top: 5px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
  line-height: 45px;
  text-align: center;
}

/* /カード情報の入力 */

/* 配送先の入力 */
.shipping-address-form {
  margin-top: 15px;
}

.form-any {
  background: #ccc;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  padding: 2px 4px;
}

.buy-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.buy-red-btn {
  width: 100%;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}
.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.login-red-btn {
  width: 100%;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.login-flash-message {
  text-align: center;
  color: red;
}
.registration-main {
  width: 100%;
  min-width: 800px;
  height: 100%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}

/* form-wrapは商品購入画面でも使用しています */
.form-wrap {
  width: 50%;
  background-color: white;
  padding-bottom: 70px;
}

.form-header {
  width: 100%;
  height: 120px;
  text-align: center;
  font-size: 22px;
}

.form-header-text {
  line-height: 100px;
  border-bottom: 1px solid #f5f5f5;
  font-weight: bold;
}

.form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.form-group:first-child {
  padding: 0;
}

.form-text-wrap {
  width: 100%;
  height: 20%;
}

.form-text {
  font-size: 14px;
  font-weight: bold;
}

.input-default {
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.info-text {
  color: #888;
  font-size: 15px;
  margin-top: 3px;
}

.form-info-header {
  font-weight: bold;
}

.form-info-text {
  font-size: 15px;
}

.input-name-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.input-name {
  width: 130px;
  margin: 5px 20px 0 20px;
  height: 48px;
  line-height: 30px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 14px;
  resize: none;
}

.input-birth-wrap {
  display: flex;
  flex-wrap: wrap;
}

.input-birth-wrap>select {
  width: 75px;
  margin-top: 5px;
  height: 45px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 12px;
  cursor: pointer;
}

.input-birth-wrap>p {
  line-height: 60px;
  padding: 0 5px;
}

.form-bottom-text {
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
}

.form-bottom-text:last-child {
  margin: 0;
  padding-bottom: 50px;
}

.form-bottom-text>span {
  color: #0099e8;
  cursor: pointer;
}

.register-btn {
  width: 50%;
  margin: 0 auto;
}

.register-red-btn {
  width: 100%;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.register-info {
  margin: 30px 180px 0 0;
  color: #0099e8;
  text-align: right;
  cursor: pointer;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

